/* to add content box inherit and stuff */

/* Baseline */

html,body {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

body,h2,h3,ul,p,blockquote{
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    margin-top: 150px;
}

ul {
    list-style: none;
}

/* Utilities */

.u-verticalAlignBottom {
    vertical-align: bottom;
}

.u-alignMiddle {
    vertical-align: middle;
}

.u-removeMarginTop {
    margin-top: 0;
}

.u-normalWeight {
    font-weight: 400;
}

.u-posAbsolute {
    position: absolute;
}

.u-posRelative {
    position: relative;
}

.u-inlineBlock {
    display: inline-block;
}

.u-overflowHidden {
    overflow: hidden;
}

.u-justify {
    text-align: justify;
}

.u-justify:after {
    content: '';
    width: 100%;
    display: inline-block;
}

.u-justify > * {
    display: inline-block;
}

.u-blockCenter {
    margin: 0 auto;
    display: block;
}

.u-disNone {
    display: none;
}

/* Modules */

.Wrapper {
    width: 100%;
    min-width: 350px
}

.ImportantText {
    font-weight: 600;
}

.HomepageHeader-container {
    width: 95%;
    margin: 0 auto;
    height: 100px;
}

.GraySquareButton {
    background: #f1f1f1;
    border-radius: 5px;
    padding: 7px 5px;
    border: 1px solid #dddddd;
    width: 50px;
    height: 50px;
}

.SearchInputBox {
    visibility: hidden;
    width: 100%;
    position: absolute;
    top: 70px;
}

.CheckBoxSearch:checked~.SearchInputBox {
    visibility: visible;
}

.SearchLabel {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
}

.SearchBoxContainer {
    text-align: center;
}

.CheckBoxHackLocation {
    position: absolute;
    left: -99999px;
}

.MenuList-SubMenu {
    display: none;
}

.CheckBoxSubMenuNewsAndMedia:checked~.MenuList-SubMenu {
    display: block;
}

.Menu {
    position:absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 0px;
}

.MenuCheckBox:checked~.MenuContainer {
    display: block;
}

.MenuContainer {
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    z-index: 200;
    background: white;
    text-align: left;
    border-left: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
    display: none;
}

.ExpendableListItem:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 8px;
    background: url('../img/navCollapseArrowRight.png');
    position: absolute;
    top: 13px;
    left: 5px;
}

.MenuList > li {
    border-bottom: 1px solid #DBDBDB;
}

.ListItemText {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    display: inline-block;
}

.MenuList a {
    text-decoration: none;
}

.MenuList-SubMenu > li {
    border-top: 1px solid #DBDBDB;
}

.SmallGraySquareButton {
    background: #e5e5e5;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    border: 0px none;
}

.SmallGraySquareButton:hover {
    background: #2892c9;
    color: white;
}

.CarouselNavigationButtons > li{
    display: inline;
}

.CarouselNavigationButtons {
    position: absolute;
    top: 185px;
    left: 15px;
}

.ColoredSection {
    width: 100%;
    height: 175px;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
}

.ColoredSection--blue {
    background: #4f96c3;
    opacity: 0.9;
    position: absolute;
    top: -152px;
    z-index: 100;
}

.ColoredSection--pink {
    background: #d13a85;
}

.ColoredSection--green {
    background: #69c33c;
}

.ColoredSection--orange {
    background: #fe7418;
}

ul > .ColoredSection {
    margin: 10px 0;
}

.ColoredSection-promotionItemArrow:after {
    content: '';
    background: url(../img/promotion-item-arrow.png);
    width: 11px;
    height: 17px;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10px;
}

.MainSectionBackground {
    background-image: url("../img/bg-mobile.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 250px;
    position: relative;
}

.RectangleBlueButton {
    background-color: #1489c4;
    width: 150px;
    height: 35px;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
}

.RectangleBlueButton:after {
    content: '';
    background-image: url("../img/btnArrow.png");
    width: 10px;
    height: 13px;
    display: inline-block;
    margin-left: 10px;
}

.RectangleBlueButton--inMainSection {
    position: absolute;
    left: 15px;
    top: 35px;
}

.AllSolutionsButton {
    display: none;
}

.RectangleBlueButton--big {
    width: 200px;
    height: 50px;
}

.BoldLink {
    color: white;
    text-decoration: none;
    vertical-align: middle;
    font-weight: 600;
    position: absolute;
    bottom: 10px;
}

.MoreIcon--left {
    padding-right: 10px;
}

.SolutionSection {
    background: #2f8ebe;
    color: white;
    padding: 10px;
    text-align: center;
}

.SolutionList {
    margin: 20px auto 0;
    max-width: 600px;
}

.SolutionList > li {
    display: inline-block;
    width: 151px;
    position: relative;
}

.SolutionList  > .MachineToMachineListItem {
    display: none;
}

.SolutionHover:after {
    content: '';
    display: inline-block;
    width: 142px;
    height: 63px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.BizAnalitic:hover:after {
    background-image: url(../img/solution_icon_biz-analitics_hover.png);
}

.AllSolutions:hover:after,
.MachineToMachine:hover:after {
    background-image: url(../img/solution_icon_biz-transform_hover.png);
}

.DitiCx:hover:after {
    background-image: url(../img/solution_icon_diti-cx_hover.png);
}

.OptimizeEfficient:hover:after {
    background-image: url(../img/solution_icon_optimize-efficnt_hover.png);
}

.Personal:hover:after {
    background-image: url(../img/solution_icon_personal_hover.png);
}

.SmartMoney:hover:after {
    background-image: url(../img/solution_icon_smart-money_hover.png);
}

.NewsAndEventsSection {
    background-image: url(../img/whats_happening_mobile.jpg);
    background-size: 100% 100%;
    color: white;
    padding: 10px;
}

.NewsAndEventsSection-HeadLine {
    text-shadow: 0px 0px 30px black;
    text-align: center;
}

.NewsAndEventsContainer {
    color: white;
    display: block;
    margin: auto;
    width: 90%;
}

.DateBox {
    width: 75px;
    height: 85px;
    background: #3399cc;
    float: left;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.WhiteContainer {
    background: rgba(212,212,212,0.8);
    width: 100%;
    height: 100px;
    padding: 7.5px;
    border-radius: 2px;
}

.DateBox-day {
    font-size: 36px;
}

.DateBox-month {
    font-size: 22px;
    margin-top: 5px;
}

.DateBox:after {
    content: '';
    width: 200px;
    height: 100px;
    border: 1px dotted white;
    position: absolute;
    top: 52px;
    left: -50px;
}

.NewsAndEventText {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    color: black;
}

.NewsAndEventTextContainer {
    display: table;
    height: 100%;
}

.NewsAndEventsContainer-SubHeader {
    margin: 10px 0 5px;
    text-shadow: 0px 0px 20px black; ;
}

.NewsAndEventsBackground {
    padding-left: 30px;
    background-size: 24px 19px;
    margin-top: 10px;
    display:inline-block;
}

.NewsBackground {
    background: url('../img/eventListIconNews.png') no-repeat;
}

.NewsBackground:hover {
    background: url('../img/eventListIconNews_hover.png') no-repeat;
}

.EventsBackground {
    background: url('../img/eventListIconEvents.png') no-repeat;
}

.EventsBackground:hover {
    background: url('../img/eventListIconEvents_hover.png') no-repeat;
}

.BlogBackground {
    background: url('../img/eventListIconPress.png') no-repeat;
}

.BlogBackground:hover {
    background: url('../img/eventListIconPress_hover.png') no-repeat;
}

.SuccessStoriesSection {
    background: #ececec;
    padding-bottom: 50px;
}

.SuccessStoriesSection-HeadLine {
    color: black;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 15px;
}

.SucessStoryAtricle {
    background: white;
    height: 213px;
    padding: 25px;
}

.SuccessStoriesSection-SuccssStoriesContainer {
    width: 348px;
    margin: auto;
    height: 328px;
}

.StoryQuote {
    display: inline-block;
    height: 100px;
    width: 180px;
    margin-left: 15px;
}

.StoryQuote-text {
    font-size: 14px;
}

.StoryQuote-text:before {
    content: '';
    background: url('../img/quote-grey.png');
    width: 27px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.StoryQuote-text:after {
    content: '"';
}

.SuccessStoryTellerImage {
    float: left;
}

.StoryQuote-teller {
    bottom: 20px;
    left: 24px;
}

.SucessStoryAtricle-companyLogo {
    bottom: 3px;
    right: 13px;
    height: 60px;
}

.SucessStoryAtricle-seperatorLine {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #f8f8f8;
    margin: 1em 0;
    padding: 0;
}

.StoryQuote-teller-name {
    color: #7cc4e7;
    font-style: normal;
}

.CompaniesList {
    margin: 10px 0 10px;
}

.CompaniesList > li {
    display: inline-block;
    width: 108px;
    height: 95px;
}

.SliderContent {
    transition: transform 0.5s;
}

.ImageSliderContentUp:hover {
    transform: translateY(-95px);
    line-height: 0px;
}

.AllStoriesButton {
    margin: 15px auto 0px;
    display: block;
}

.ArticleSliderVisible {
    height: 213px;
}

.SuccessStoryFullQuote {
    height: 213px;
    width: 100%;
    background: rgb(58,166,219);
    color: white;
    padding: 20px 40px;
    font-size: 15px;
    display: table;
}

.SuccessStoryFullQuote-text:before,
.SuccessStoryFullQuote-text:after {
    content: '';
    background:url("../img/quote-blue.png");
    display: inline-block;
    width: 32px;
    height: 22px;
}

.SuccessStoryFullQuote-text:before {
    position: absolute;
    top: 2px;
    left: -35px;
}

.SuccessStoryFullQuote-text:after {
    position: relative;
    vertical-align: -10px
}

.ArticleSliderContentUp:hover {
    transform: translateY(-213px);
}

.SuccessStoryFullQuote-text {
    display: table-cell;
    vertical-align: middle;
}

.FooterList {
    background: url("../img/footer-pattern.jpg") repeat;
    color: white;
}

.FooterList > li {
    border-bottom: 1px solid black;
    padding: 15px;
}

.VisitLinksList {
    display:inline-block;
    margin-left: 10px;
}

.VisitLinksList > li {
    display: inline-block;
    margin-left: 10px;
}

.LinkedinBackground:hover:before,
.YoutubeBackground:hover:before,
.TwitterBackground:hover:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
}

.LinkedinBackground:hover:before {
    background: url("../img/socialMenuIcon-linkdin_hover.png");
}

.YoutubeBackground:hover:before {
    background: url("../img/socialMenuIcon-youtube_hover.png");
}

.TwitterBackground:hover:before {
    background: url("../img/socialMenuIcon-twitter_hover.png");
}

.LanguageSelector {
    margin-left: 15px;
    width: 100px;
    height: 31px;
}

.SelectLanguageOverlayButton {
    color: white;
    position: absolute;
    width: 100px;
    height: 32px;
    background: #414140;
    border: 0px;
    text-align: left;
    top: 14px;
    left: 192px;
    pointer-events: none;
}

.SelectLanguageOverlayButton:after {
    content: '';
    background: url("../img/btnArrow.png");
    display:inline-block;
    position: absolute;
    right: 13px;
    width: 10px;
    height: 13px;
    top: 10px;
    transform: rotate(90deg);
}

.SmallPrintFooterContainer-text {
    font-size: 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.Seperator {
    margin: 0 5px;
}

.SmallPrintFooterContainer {
    display: table;
    height: 20px;
    width: 100%;
}

.SmallPrintFooterLinks {
    text-decoration: none;
    color: black;
}

.GoToTheTopOfThePage {
    position: absolute;
    top: -30px;
    right: 30px;
}

.VideoItem {
    display: none;
}

.DesktopFooter {
    display: none;
}

@media screen and (min-width: 948px) {

    main {
        margin-top: 0px;
    }

    .HomePageHeader {
        display: block;
        width: 948px;
        padding: 10px 0;
    }

    .HomepageHeader-container {
        height: 67px;
        width: 948px;
    }

    .HomepageHeader-container:after {
        width: 0;
    }

    .GraySquareButton--menu,
    .HomepageHeader-container > label {
        display: none;
    }

    .SearchInputBox {
        visibility: visible;
        width: 150px;
        float: right;
        position: absolute;
        right: 0px;
        bottom: 10px;
        top: auto;
        border-radius: 6px;
        border: 1px solid rgb(199, 199, 199);
        padding-left: 10px;
    }

    .GraySquareButton--search {
        position: absolute;
        z-index: 200;
        background: white none repeat scroll 0% 0%;
        border: 0px none;
        width: 28px;
        right: 2px;
        bottom: 1px;
        height: 19px;
        padding: 0px;
    }

    .GraySquareButton--search:before,
    .LanguageAndLoginOptions:after {
        content: '';
        background: url(../img/divider.png);
        display: inline-block;
        position: absolute;
        width: 1px;
        height: 20px;
    }

    .GraySquareButton--search:before {
        right: 29px;
    }

    .GraySquareButton--search > img {
        width: 15px;
    }

    .ComverseImage {
        float: left;
    }

    .LanguageAndLoginOptions {
        display: block;
        position: absolute;
        top: 6px;
        right: 5px;
        width: 160px
    }

    .LanguageAndLoginOptions:after {
        right: 122px;
        top: 0px;
    }

    .LanguageOverlay {
        display: inline-block;
        width: 40px;
        pointer-events: none;
        background: white;
        border: 0px;
    }

    .LanguageOverlay:after {
        content: '';
        background: url(../img/navCollapseArrowDown.png);
        display: inline-block;
        position: absolute;
        width: 8px;
        height: 5px;
        top: 10px;
        right: 9px;
    }

    .LoginLink {
        color: black;
        text-decoration: none;
        float: right;
    }

    .LanguageOptions {
        z-index: -100;
        height: 23px;
        width: 40px;
    }

    .MenuList {
        background: none;
    }

    .MenuList > li {
        display: inline-block;
    }

    .MenuContainer {
        width: auto;
        font-size: 14px;
        border: 0;
        top: 50px;
        left: 215px;
        display: block;
    }

    .MenuList > li {
        border-bottom: 0px;
    }

    .ExpendableListItem:before {
        background: url("../img/divider.png");
        height: 20px;
        width: 1px;
        top: 4px;
    }

    .OurPortfolioList:before {
        left: 99px;
    }

    .NewsAndMediaList:before {
        left: 222px;
    }

    .AboutComverseList:before {
        left: 358px;
    }
    .ExpendableListItem:nth-of-type(1):before {
        background: none;
    }

    .ExpendableListItem:hover .ListItemText--primary {
        outline: 1px solid #7A7A7A;
        color: blue;
    }

    .CheckBoxSubMenuNewsAndMedia:checked~.MenuList-SubMenu {
        display: block;
    }

    .ExpendableListItem:hover > .MenuList-SubMenu {
        display: block;
    }

    .MenuList-SubMenu {
        position: absolute;
        background: white;
        width: 948px;
        height: 300px;
        left: -190px;
        padding-top: 20px;
        padding-left: 20px;
        box-shadow: 4px 4px 4px black;
        font-size: 12px;
    }

    .MenuList-SubMenu > li {
        width: 27%;
        float: left;
        border: 0px;
    }

    .MenuList-SubMenu > li div:hover {
        text-decoration: underline;
    }

    .MenuList-SubMenu>li:nth-of-type(1) {
        width: 46%;
        float: right;
        height: 100%;
    }

    .VideoItem {
        text-align: center;
        display: inline-block;
    }

    .VideoItem:before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 185px;
        position: absolute;
        left: 0;
        background: url('../img/line_divider_video.png');
    }

    .ListItemText {
        padding: 5px;
    }

    .ColoredSection--blue {
        background: rgba(255, 0, 0, 0);
        position: absolute;
        top: 27px;
        width: 948px;
        margin: auto;
        padding: 0px;
        display: block;
        left: 0px;
        right: 0px;
    }

    .ColoredSection--blue h1,.ColoredSection p {
        text-shadow: 0px 0px 5px black;
    }

    .MainSectionBackground {
        height: 500px;
        background-attachment: fixed;
    }

    .RectangleBlueButton--inMainSection {
        left: 87px;
        top: 160px;
    }

    .CarouselNavigationButtons {
        position: static;
    }

    .ColoredList {
        position: absolute;
        bottom: 10px;
        width: 948px;
        margin: auto;
        left: 0px;
        right: 0px;
    }

    .ColoredList > li {
        display: inline-block;
        width: 272px;
        font-size: 12px;
        height: 150px;
        border-radius: 10px;
        margin: 10px 20px 10px 0px;;
    }

    .ColoredSection-promotionItemArrow:after {
        background: none;
    }

    .ColoredSection:hover .ColoredSection-promotionItemArrow h2 {
        text-decoration: underline;
    }

    .ColoredSection--pink {
        background: rgba(209, 58, 133, 0.9) none repeat scroll 0% 0%;
    }

    .ColoredSection--pink:hover {
        background: rgba(209, 58, 133, 1) none repeat scroll 0% 0%;
    }

    .ColoredSection--green {
        background: rgba(105, 195, 60, 0.9) none repeat scroll 0% 0%;
    }

    .ColoredSection--green:hover {
        background: rgba(105, 195, 60, 1) none repeat scroll 0% 0%;
    }

    .ColoredSection--orange {
        background: rgba(255, 140, 0, 0.9) none repeat scroll 0% 0%;
    }

    .ColoredSection--orange:hover {
        background: rgba(255, 140, 0, 1) none repeat scroll 0% 0%;
    }

    .MainSectionBackground-ButtonsContainer {
        margin: auto;
        left: 0px;
        right: 0px;
        top: 158px;
        height: 141px;
        width: 948px;
        position: absolute;
    }

    .RectangleBlueButton--inMainSection {
        margin-bottom: 15px;
    }

    .RectangleBlueButton--inMainSection {
        position: static;
    }

    .SmallGraySquareButton-text {
        visibility: hidden;
    }

    .SmallGraySquareButton {
        width: 15px;
        height: 15px;
    }

    .SolutionList {
        min-width: 926px;
    }

    .SolutionList  > .MachineToMachineListItem {
        display: inline-block;
    }

    .SolutionList > li:last-child {
        display: block;
        margin: auto;
    }

    .AllSolutionsButton {
        display: inline-block;
        background: #429dbd;
        margin-top: 30px;
    }

    .SolutionList li:last-child > span {
        display: none;
    }

    section > h2 {
        font-size: 33px;
    }

    .NewsAndEventsSection {
        height: 345px;
        position: relative;
    }

    .NewsAndEventsList {
        display: inline-block;
        position: absolute;
        width: 989px;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        height: 174px;
    }

    .NewsAndEventsList > li {
        display: inline-block;
        width: 327px;
    }

    .NewsAndEventsContainer {
        max-width: 330px;
    }

    .WhiteContainer:hover {
        background: rgba(212, 212, 212, 1);
    }

    .NewsAndEventsSection {
        background-image: url("../img/news-and-events-bg.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    .SuccessStoriesSection-SuccssStoriesContainer {
        display: inline-block;
        margin-right: 8px;
    }

    .SuccessStoriesSection-container {
        width: 956px;
        display: block;
        margin: auto;
    }

    .ArticleSliderVisible.UpSideDownSuccessStoryContainer {
        position: relative;
        top: 106px;
    }

    .CompaniesList.UpSideDownSuccessStoryContainer {
        top: -222px;
        position: relative;
    }

    section h2 {
        padding-top: 15px;
    }

    .HalfSucessStoriesContainer .ArticleSliderVisible {
        display: block;
    }

    .HalfSucessStoriesContainer .SuccessStoriesSection-SuccssStoriesContainer {
        width: 226px;
        display: inline-block;
    }

    .HalfSucessStoriesContainer .StoryQuote {
        margin-left: 0px;
    }

    .HalfSucessStoriesContainer {
        width: 228px;
    }

    .HalfSucessStoriesContainer .SucessStoryAtricle-companyLogo {
        height: 50px;
        bottom: 0px;
        height: 67px;
    }

    .MobileFooter {
        display: none;
    }

    .DesktopFooter {
        display: block;
        width: 948px;
        margin: auto;
        height: 350px;
    }

    .FooterOfHomePage {
        background: url("../img/footer-pattern.jpg") repeat;
    }

    .DesktopFooter-List > li {
        display:inline-block;
        vertical-align: top;
        margin-right: 72px;
    }

    .DesktopFooter-List h4 {
        margin-bottom:8px;
    }

    .DesktopFooter-List li a {
        color: white;
        text-decoration: none;
        font-size: 12px;
    }

    .DesktopFooter-List li  > a:hover {
        text-decoration: underline;
    }

    .DesktopFooter-List {
        width: 700px;
        float: left;
    }

    .BlogAndSubscribe {
        display: inline-block;
        float: left;
        width: 216px;
        height: 100%;
        background: rgb(63, 63, 63) none repeat scroll 0% 0%;
    }

    .SmallPrintFooterContainer-text--Desktop {
        left: 0px;
        bottom: 14px;
    }

    .SmallPrintFooterContainer-text--Desktop  a,
    .SmallPrintFooterContainer-sperator {
        text-decoration: none;
        color: #777777;
        font-size: 12px;
    }

    .SmallPrintFooterContainer-sperator {
        margin: 0 10px;
    }

    .BlogAndSubscribe-HeadLine {
        color: #4ea7d3;
    }

    .BlogAndSubscribe-email{
        width: 133px;
    }

    .VisitLinksList {
        position: absolute;
        bottom: 5px;
        margin-left: 0px;
    }

    .BlogAndSubscribe-blogArticle p {
        color: white;
    }

    .BlogAndSubscribe-HeadLine {
        text-align: center;
    }

    .blogArticle-date b {
        font-size: 42px;
        top: 8px;
        position: relative;
    }

    .blogArticle-date span {
        font-size: 30px;
        clear: left;
        display: block;
    }

    .blogArticle-date {
        float: left;
        text-align: center;
        position: relative;
        top: -19px;
    }

    .blogArticle-text {
        position: relative;
        left: 10px;
    }

    .BlogAndSubscribe-blogArticle hr{
        color: rgb(106, 106, 106);
        margin-top: 27px;
        width: 100%;
        position: relative;
        right: 52px;
    }
}



